<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.mstar.store"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <!-- 增加访问网络的权限 -->

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>

    <!-- 增加文件存储和访问摄像头的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_down"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="mstar.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="cn.mstar.store.db.entityToSave.ProAndSpecialIdz" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="A38XqGfHOMcdTLmXg9tXQkQh" />

        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx9c2b1266bc3a5f2c" />
            </intent-filter>
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" >
        </activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay" />

        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.GuideActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ProductListActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ClassifyActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ProductDetailsActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.SearchActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.NearStoreActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ScanCodeActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.NavigationActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ImageBrowserActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.SelectCommodityActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ConfirmIndentActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.PayActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ShippingAddressActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ManageReceiverAddressActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.CreateReceiverAddressActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.SelectProvinceActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.SelectCityActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.SelectCountyActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.IndentDetailsActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ChangePasswordActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ForgetPasswordActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.LogisticsDetialsActivity" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.MockActivity" />
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.GoodsManagementActivity"
            android:label="@string/title_activity_goods_management" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:launchMode="singleTask" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.SelfInformationActivity"
            android:label="@string/title_activity_self_information" >
        </activity>

        <receiver
            android:name=".receiver.SmsBroadcastReceiver"
            android:exported="false"
            android:singleUser="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.MyFavoriteManagmentActivity"
            android:label="@string/title_activity_my_favorite_managment"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.mstar.store.activity.MainActivity" />
        </activity>
        <!--
           <activity    android:screenOrientation="portrait"    android:configChanges="orientation|keyboardHidden" 
               android:name=".activity.MyShoppingCarActivity"
               android:label="@string/title_activity_my_shopping_car"
               android:parentActivityName=".activity.MainActivity" >
               <meta-data
                   android:name="android.support.PARENT_ACTIVITY"
                   android:value="cn.mstar.store.activity.MainActivity" />
           </activity>
        -->
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ReductionActivity"
            android:label="@string/reduction_ticket_activity_name"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.mstar.store.activity.MainActivity" />
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ExchangePointActivity"
            android:label="@string/exchangepoints_activity"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.mstar.store.activity.MainActivity" />
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.RequestGoodsReturnActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.GoodsManagementActivity" />
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.UploadActivity"
            android:label="@string/title_activity_upload" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.mstar.store.activity.SelfInformationActivity" />
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.ReturnGoodsProgressActivity"
            android:label="@string/title_activity_upload" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.mstar.store.activity.IndentDetailsActivity" />
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.PostCommentActivity"
            android:label="@string/title_activity_post_comment" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.PayingTransactionSuccessActivity"
            android:label="@string/title_activity_paying_transaction_success" >
        </activity>
        <activity    android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
    </application>

</manifest>
